.walkin-pets__title {
  font-size: 26px;
  color: #333333 !important;
  margin: 0px;
}
.walkin-pets__overviewSection {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.walkin-pets__overview {
  font-size: 12px;
  color: #A0A0A0;
  width: 41%;
  margin: 0;
}
.walkin-pets__overview a {
  color: #7A7979;
}
.walkin-pets__button {
  font-size: 12.5px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5.25px 18px;
  height: 35px;
}
.walkin-pets__button-arrow {
  margin-left: 17px;
  margin-right: -8px;
}
@media only screen and (max-width: 768px) {
  .walkin-pets__button {
    display: none;
  }
  .walkin-pets__overview {
    width: 900%;
  }
}
