@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$primary-color-1: #111111;
$primary-color-2: #7A7979;
$primary-contrasting: #6662DC;
$secondary-color-1: #B15552;
$secondary-color-2: #ffffff;

$titleSize: 26px;
$paragraphSize: 12px;
$buttonTxtSize: 12.5px;

$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;
