@import "variables";

.walkin-pets {
    &__title {
        font-size: $titleSize;
        color: #333333!important;
        margin: 0px;
    }
    &__overviewSection {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }
    &__overview {
        font-size: $paragraphSize;
        color: $primary-color-2;
        width: 41%;
        a {
            color: $primary-color-1;
        }
    }
    &__button {
        font-size: $buttonTxtSize;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 5.25px 18px;
        height: 35px;
    }
    &__button-arrow {
        margin-left: 17px;
        margin-right: -8px;
    }
    &__button.mobile {
        display: none;
    }
    @media only screen and (max-width: 768px) {
        &__button {
            display: none;
        }
        &__overview {
            width: 900%;
        }
        &__button.mobile {
            text-align: center;
            display: block;
        }
    }
}

.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &__slide {
        width: 50px;
        a {
            text-decoration: none;
        }
    }
    &__slide-image {
        width: 100%;
        border-radius: 10px;
    }
    &__image-container {
        position: relative;
        width: 97%;
    }
    &__flag {
        font-size: $buttonTxtSize;
        position: absolute;
        top: 13px;
        left: 14px;
        border-radius: 4px;
        padding: 4px 9px;
        z-index: 100;
    }
    &__flag.red {
        color: $secondary-color-2;
        background-color: $secondary-color-1;
    }
    &__flag.white {
        color: $primary-color-1;
        background-color: $secondary-color-2;
    }
    &__slide-button {
        font-size: $buttonTxtSize;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background: $primary-color-1;
        color: $secondary-color-2;
        padding: 5.25px 18px;
        width: 87%;
        height: 36px;
        margin-top: -65px;
        margin-left: 19px;
        display: none;
    }
    &__image-container:hover &__slide-button {
        display: block;
        position: absolute;
        z-index: 10;
        opacity: 1;
    }
    &__image-container:hover {
        .glide__slide-image {
            opacity: .5;
        }
    }
    &__image-container:hover .glide__variants {
        margin-top: -100px;
    }
    &__variants {
        float: left;
        margin-top: -50px;
        margin-left: -13px;
    }
    &__variant-container {
        position: relative;
        display: flex;
        gap: 3px;
    }
    &__varient-color {
        color: white;
        width: 19px;
        height: 19px;
        border-radius: 3px;
        list-style: none;
        top: -44px;
        left: -23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__varient-1 {
        background: #BABABA;
    }
    &__varient-2 {
        background: #C57573;
    }
    &__varient-3 {
        background: #7694B7;
    }
    &__varient-4 {
        background: #9BB65A;
    }
    &__product-header, &__collection-header {
        display: flex;
        width: 97%;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: $paragraphSize;
        font-weight: 600;
        color: $primary-color-1;
    }
    &__price {
        font-size: $paragraphSize;
        font-weight: 600;
        color: $primary-color-1;
    }
    &__collection-link {
        font-size: $paragraphSize;
        color: $primary-color-1;
        text-decoration: underline !important;
    }
    &__product-description {
        color: $primary-color-2;
        font-size: $paragraphSize;
    }
    &__track {
        width: 100%;
        overflow: hidden;
    }
    &__arrows {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: 37%;
    }
    &__arrow {
        font-size: 22px;
        display: block;
        top: 50%;
        z-index: 2;
        color: #111111;
        text-transform: uppercase;
        padding: 9px 12px;
        background-color: white;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
        text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: opacity 150ms ease, border 300ms ease-in-out;
        transform: translateY(-50%);
        line-height: 1;
    }
    &__arrow--right {
        position: relative;
        right: -1em;
        opacity: 1;
    }
    &__arrow--right:hover {
        background-color: black !important;
        color: white;
    }
    &__arrow--left {
        position: relative;
        left: -1em;
        opacity: .3;
    }
    @media only screen and (max-width: 768px) {
        &__arrows {
            display: none;
        }
    }
}
.check {
    display: block;
}
.uncheck {
    display: none;
}