$titleSize: 26px;
$paragraphSize: 12px;
$buttonTxtSize: 12.5px;

.walkin-pets {
    &__title {
        font-size: $titleSize;
        color: #333333!important;
        margin: 0px;
    }
    &__overviewSection {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }
    &__overview {
        font-size: $paragraphSize;
        color: #A0A0A0;
        width: 41%;
        margin: 0;
        a {
            color: #7A7979;
        }
    }
    &__button {
        font-size: $buttonTxtSize;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 5.25px 18px;
        height: 35px;
    }
    &__button-arrow {
        margin-left: 17px;
        margin-right: -8px;
    }
    @media only screen and (max-width: 768px) {
        &__button {
            display: none;
        }
        &__overview {
            width: 900%;
        }
    }
}